# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
myenv/
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# YOLO / Training
runs/
datasets/
weights/

# Large files
*.mp4
*.pt

# Generated outputs
debug_output.txt
test_output.txt
final_results_final.csv
final_output_1/

# Miscellaneous
.DS_Store
.pyre_configuration
